body
{
	background: -moz-linear-gradient(left, #B0E0E6 0%, #00CED1 70%, #008B8B 100%);
        background: -webkit-linear-gradient(left, #B0E0E6 0%, #00CED1 70%, #008B8B 100%);
        font-size: 170%;
}

.wraper 
{
        overflow-x: hidden !important;
}

.margin_right
{
	margin-right: 40px;
}

.margin_left
{
	margin-left: 40px;
}

.margin_zero
{
	margin-bottom: 0;
	margin-top: 0;
}

.nowrap
{
	white-space: nowrap
}

.userbox_margin
{
	margin-top: 5px;
}

.title_brand
{
	margin-top: 10px;
        font-size: larger;
}

.navbar
{
        background-color: rgb(0,90,90);
}

.btn-default
{
        border-color: #5f5715;
        text-transform : uppercase;
        background: -webkit-linear-gradient(top, #D2691E 0%, #FF7F50 100%);
        background: -moz-linear-gradient(top, #D2691E 0%, #FF7F50 100%);
}

.btn-default:hover
{
        border-color: #5f5715;
        cursor : pointer;
        background: -webkit-linear-gradient(top, #FF7F50 0%, #D2691E 100%);
        background: -moz-linear-gradient(top, #FF7F50 0%, #D2691E 100%);
}

.content
{
	margin-top: 100px;
	margin-bottom: 60px;
}

.block 
{
	background-color: rgb(50,170,150);
	border: 4px solid rgb(0,90,90);
	border-radius: 20px;
	margin-bottom: 20px;
}

.error
{
	color: red;
}

.red
{
	color: red;
}

.red:hover
{
	color: inherit;
}

.green
{
	color: green;
}

.green:hover
{
	color: inherit;
}

.font_color_black
{
	color: black;
}

.font_color_black:hover
{
	color: #edda55;
}

a
{
	color: #ffffff;
}

a:hover
{
	color: #000000;
	text-decoration: none;
}

.page_title
{
	margin-left: 150px;
	margin-bottom: 15px;
}

.question_avatar
{
	height: 70px;
	margin-top: 20px;
	margin-left: 5px;
}

.counter
{
	margin-top: 10px;
	margin-left: 15px;
}

.like_btn
{
	margin-top: -32px;
	margin-left: 30px;
}

.dislike_btn
{
	margin-top: -8px;
	margin-left: 30px;
}

.tags
{
	float: right;
	clear: both;
}

.footer
{
	margin-bottom: -1px;
	border-radius: 0px;
}

.pagination
{
	margin-left: 150px;
}

.pagination li a
{
	color: rgb(0,70,70);
	border: 2px solid #c8c8c8;
}

.pagination li a:hover
{
	color: rgb(0,170,170);
}

.answer
{
	background-color: rgb(50,200,200);
	border: 3px solid rgb(50,150,150);
	border-radius: 5px;
	margin-bottom: 30px;
        padding-top: 20px;
}

.answer_avatar
{
	height: 90px;
	margin-left: -3px;
}

.question_avatar_main
{
	height: 120px;
	margin-top: 20px;
        margin-left: 5px;
}

.comment
{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.input
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.sign_in_checkbox
{
	margin-left: 90px;
        margin-top: 20px;
        margin-bottom: 10px;
}
